*.class

# Package Files #
*.jar
!*.jar/
*.war
*.ear
target/
.flattened-pom.xml
dependency-reduced-pom.xml

# Eclipse Files #
.classpath
.project
.settings

# NetBeans Files #
nbproject/
nb-configuration.xml
nbactions.xml

.idea

# JVM Errors #

hs_err_pid*
