/praxis.live.core/build/
/praxis.live.audio/build/
/praxis.live.components/build/
/praxis.live.editor/build/
/praxis.live.gui/build/
/praxis.live.graph/build/
/praxis.live.control/build/
/praxis.live.help/build/
/praxis.live.laf/build/
/praxis.live.midi/build/
/praxis.live.start/build/
/praxis.live.pxj/build/
/praxis.live.util/build/
/praxis.live.core.ui/build/
/praxis.live.project/build/
/praxis.live.terminal/build/
/praxis.live.pxr/build/
/praxis.live.pxr.gui/build/
/praxis.live.pxr.osc/build/
/praxis.live.pxr.midi/build/
/praxis.live.pxs/build/
/praxis.live.video/build/
/praxis.live.pxr/nbproject/private/
/praxis.live.editor/nbproject/private/
/praxis.live.components/nbproject/private/
/praxis.live.video/nbproject/private/
/praxis.live.project/nbproject/private/
/praxis.live.laf/nbproject/private/
/praxis.live.control/nbproject/private/
/praxis.live.terminal/nbproject/private/
/praxis.live.pxj/nbproject/private/
/praxis.live.pxs/nbproject/private/
/praxis.live.help/nbproject/private/
/praxis.live.pxr.gui/nbproject/private/
/praxis.live.pxr.osc/nbproject/private/
/praxis.live.audio/nbproject/private/
/praxis.live.midi/nbproject/private/
/praxis.live.util/nbproject/private/
/praxis.live.core.ui/nbproject/private/
/praxis.live.gui/nbproject/private/
/praxis.live.start/nbproject/private/
/praxis.live.pxr.midi/nbproject/private/
/praxis.live.graph/nbproject/private/
/praxis.live.core/nbproject/private/
/praxis.live.laf.nimbus/build/
/praxis.live.laf.nimbus/nbproject/private/
/dist/
/build/
/praxis.live.model/build/
/praxis.live.properties/build/
/lib.pcgl/build/
/lib.pcgl/nbproject/private/
/praxis.live.properties/nbproject/private/
/praxis.live.model/nbproject/private/
/praxis.live.pxr.graph/build/
/praxis.live.pxr.graph/nbproject/private/